.mlt-about-container {
	height: max-content;
	height: fit-content;
	height: -moz-fit-content;

    margin-top: var(--top-offset);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.mlt-about-section {
    overflow: visible;
    position: relative;
    
    max-width: var(--max-width);
    width: var(--max-width);
    margin: auto;

    height: max-content;
    height: fit-content;
    height: -moz-fit-content;
    margin: auto;
}

.mlt-about-section:after {
    display: block;
    content: " ";
    clear: both;
    width: 100%;
}